td,th, div, span, body {
    font-size: 12px;
}

.tb_style_1 {
    margin: 0 auto;
    border-collapse:collapse;  
    border-spacing:0; 
}

.tb_style_1 th {
    border:1px solid silver;
    margin: 0;
    padding: 3px;
    background-color: whitesmoke;
}

.tb_style_1 td {
    border:1px solid silver;
    margin: 0;
    padding: 3px;
}

.main_left {
	width:200px;
	float:left;
	border:1px solid blue;
}

.main_right {
	float: left;
}

#board {
	padding: 5px;
	border: 3px activeborder solid;
}

.main_body {
	padding: 5px;
	position: relative;
}

#field {
	width: 350px;
	height: 468px;
	background: url("../img/field.gif");
	position: relative;
}

.player_position {
	position: absolute;
	text-align: center;
	color: #ffffff;
	overflow: hidden;
}

#tibu {
	width: 100px;
	margin-left:120px;
}

#tibu li {
	list-style-image:url(../img/chair.gif);
}

#player_div {
	padding: 5px;
	position: absolute;
	top: 200px;
	left: 200px;
	z-index: 2;
	background-color: #ffffff;
	display: none;
}

#full_bg {
    background-color: #000;
	width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    z-index: 1;
	display: none;
}

.pagination {
	padding: 5px;
}

.pagination .active {
	border:1px #666666 solid;
}

#player_sell_div {
	padding: 5px;
	position: absolute;
	top: 200px;
	left: 200px;
	z-index: 2;
	background-color: #ffffff;
	display: none;
}

.shoufa_div {
	float: left;
	padding:10px;
	border: 1px activeborder solid;
}

.shoufa_div .title {
	text-align:center;
	font-weight:bold;
}

.blue_normal_span {
	color: #0000FF;
}

.red_normal_span {
	color: #ff0000;
}

.blue_bold_span {
	color: #0000FF;
	font-weight: bold;
}

.red_bold_span {
	color: #ff0000;
	font-weight: bold;
}

.green_normal_span {
	color: green;
}

.green_bold_span {
	color: green;
	font-weight: bold;
}