<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
        <title>YPN</title>
        <link type="text/css" rel="stylesheet" href="<?=MainConfig::BASE_URL?>res/css/main.css" />
		<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script type="text/javascript" src="<?=MainConfig::BASE_URL?>res/js/jquery.js"></script>
		<script type="text/javascript" src="<?=MainConfig::BASE_URL?>res/js/jquery-ui.min.js"></script>
    </head>
    <body>
		<div class="container-fluid">
			<div class="main_left">
				<table id="menu" border="0" align="center" cellpadding="3" cellspacing="0" bgcolor="#FFFFFF">
					<tr>
						<td><a href="<?=MainConfig::BASE_URL?>match/all" target="_self"><img src="" width="20" height="20" border="0" /> all</a></td>
					</tr>
					<tr>
						<td><a href="<?=MainConfig::BASE_URL?>match/today" target="_self"><img src="" width="20" height="20" border="0" /> today match</a></td>
					</tr>
					<tr>
						<td><a href="<?=MainConfig::BASE_URL?>match/friend_matches" target="_self"><img src="" width="20" height="20" border="0" /> friend matches</a></td>
					</tr>
					<tr>
						<td><a href="<?=MainConfig::BASE_URL?>/player/chuchang" target="_self"><img src="" width="20" height="20" border="0" /> chuchang</a></td>
					</tr>
					<tr>
						<td><a href="<?=MainConfig::BASE_URL?>/player/my_list" target="_self"><img src="" width="20" height="20" border="0" /> my list</a></td>
					</tr>
					

					<tr>
						<td><a href="<?=MainConfig::BASE_URL?>/player/training_list" target="_self"><img src="" width="20" height="20" border="0" /> training list</a></td>
					</tr>
					<tr>
						<td><a href="<?=MainConfig::BASE_URL?>news" target="_self" onclick="//$('#cover').show();"><img src="" width="20" height="20" border="0" /> news list</a></td>
					</tr>
					<tr>
						<td><a href="<?=MainConfig::BASE_URL?>ypn/new_day" target="_self" onclick="//$('#cover').show();"><img src="" width="20" height="20" border="0" /> new day</a></td>
					</tr>
					<tr>
						<td><a href="<?=MainConfig::BASE_URL?>team/bill_list" target="_self" onclick="//$('#cover').show();"><img src="" width="20" height="20" border="0" /> bills</a></td>
					</tr>
					<tr>
						<td><a href="<?=MainConfig::BASE_URL?>team/edit" target="_self"><img src="" width="20" height="20" border="0" /> myclub</a></td>
					</tr>
					<tr>
						<td><a href="#" target="_self" onclick="$('#tr_italy').toggle();
								return false;"><img src="" width="20" height="20" border="0" /> ItalyLeague</a></td>
					</tr>
					<tr id="tr_italy" style="display:none;">
						<td>
							<div><a href="/team/list_league_rank/1" target="_self"><img src="" width="20" height="20" border="0" /> 积分榜</a></div>
							<div><a href="/player/list_player_king/1/goal" target="_self"><img src="" width="20" height="20" border="0" /> 射手榜</a></div>
							<div><a href="/player/list_player_king/1/assist" target="_self"><img src="" width="20" height="20" border="0" /> 助攻榜</a></div>
							<div><a href="/player/list_player_king/1/tackle" target="_self"><img src="" width="20" height="20" border="0" /> 抢断榜</a></div>
						</td>
					</tr>

					<tr>
						<td><a href="#" target="_self" onclick="$('#tr_premier').toggle();
								return false;"><img src="" width="20" height="20" border="0" /> PremierLeague</a></td>
					</tr>
					<tr id="tr_premier" style="display:none;">
						<td>
							<div><a href="index.php?c=team&a=list_league_rank&p=3" target="_self"><img src="" width="20" height="20" border="0" /> 积分榜</a></div>
							<div><a href="index.php?c=player&a=list_player_king&p=31,goal" target="_self"><img src="" width="20" height="20" border="0" /> 射手榜</a></div>
							<div><a href="index.php?c=player&a=list_player_king&p=31,assist" target="_self"><img src="" width="20" height="20" border="0" /> 助攻榜</a></div>
							<div><a href="index.php?c=player&a=list_player_king&p=31,tackle" target="_self"><img src="" width="20" height="20" border="0" /> 抢断榜</a></div>
						</td>
					</tr>
					<tr>
						<td><a href="<?=MainConfig::BASE_URL?>uclgroup" target="_self"><img src="" width="20" height="20" border="0" /> uclgroup</a></td>
					</tr>
					<tr>
						<td><a href="<?=MainConfig::BASE_URL?>elgroup" target="_self"><img src="" width="20" height="20" border="0" /> elgroup</a></td>
					</tr>
					<tr>
						<td><a href="#" target="_self" onclick="$('#tr_transfer').toggle();
								return false;"><img src="" width="20" height="20" border="0" /> transfer market</a></td>
					</tr>

					<tr id="tr_transfer" style="display:none;">
						<td>
							<div><a href="<?=MainConfig::BASE_URL?>player/buy_list/1" target="_self"><img src="" width="20" height="20" border="0" /> buy</a></div>
							<div><a href="<?=MainConfig::BASE_URL?>player/sell_list" target="_self"><img src="" width="20" height="20" border="0" /> sell</a></div>
						</td>
					</tr>
				</table>

			</div>
			<div class="main_right">
				<div id="board"></div>
				
				<div class="main_body">
					<?php require "View/" . $this->name . "/$view.php";?>
				</div>
			</div>
		</div>

		<script>
			$.get("<?=MainConfig::BASE_URL?>match/ajax_get_my_next", {}, function(msg){
				$("#board").html(msg);
			});
		</script>

    </body>
</html>
